body{
   font-family: Arial, Helvetica, sans-serif;
}

.container{
   background-color: rgb(52, 52, 52); 
   padding: 15px;
   border-radius: 8px;
   color: rgb(240, 240, 240);
}
.container h1{
   display:  flex;
   justify-content: space-between;
   color: orange;
}

.addTask{  
   float: right;
}
.newTask{
   display: flex;
   flex-direction: column;
}

.newTask input[type=text], input[type="date"], button, select{
   font-size: 1rem;
   margin: 5px;
   padding: 10px;
   padding-bottom: 0;
   background-color: transparent;
   border: none;
   border-bottom: solid 1px rgb(65, 65, 65);
   color: rgb(215, 215, 215);
}
.newTask input[type=text], button:focus,select{
   outline: none;
}

select{ 
   color: orange
}
button{
   padding: 5px;
   width: 40px;
   height: 40px;
   font-size: 1.7rem;
   border-bottom: none;
   border-radius: 5px;
   transition: background-color ease-in 0.1s;
}
button:hover{
   background-color: rgba(255, 255, 255, 0.255);
}


.task{
   padding: 10px;

   border-bottom: 1px solid rgba(255, 255, 255, 0.255);
}
p{
   margin: 5px;
   color: rgb(215, 215, 215);
   margin-bottom: 0;
}
.noRem{
   text-align: center;
   color: rgba(255, 255, 255, 0.255);
}
.task  .coment{
   font-size: 0.9rem;
   color: rgb(133, 133, 133);
   margin-left: 10px;
}

.task .priority{
   margin-right:5px;
   color: orange;
}
